<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://mediameet.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>mediameet.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MediaMeet</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$MediaMeet</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MediaMeetDbContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:howlettz.database.windows.net,1433;Initial Catalog=MediaMeet_db;User ID=howlettz@howlettz;Password=RSC6me@nj" Name="Data Source=tcp:howlettz.database.windows.net,1433;Initial Catalog=MediaMeet_db;User Id=howlettz@howlettz;Password=RSC6me@nj" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MediaMeet.Models.MediaMeetDbContext, MediaMeet" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:howlettz.database.windows.net,1433;Initial Catalog=MediaMeet_db;User ID=howlettz@howlettz;Password=RSC6me@nj" Name="Data Source=tcp:howlettz.database.windows.net,1433;Initial Catalog=MediaMeet_db;User Id=howlettz@howlettz;Password=RSC6me@nj" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MediaMeet.Models.ApplicationDbContext, MediaMeet" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="MediaMeetContext" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:howlettz.database.windows.net,1433;Initial Catalog=MediaMeet_db;User ID=howlettz@howlettz;Password=RSC6me@nj" Name="Data Source=tcp:howlettz.database.windows.net,1433;Initial Catalog=MediaMeet_db;User Id=howlettz@howlettz;Password=RSC6me@nj" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|MediaMeetContext-20151109184247.mdf;Initial Catalog=MediaMeetContext-20151109184247;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MediaMeetContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(localdb)\MSSQLLocalDB; Initial Catalog=MediaMeetContext-20151109184247; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|MediaMeetContext-20151109184247.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:howlettz.database.windows.net,1433;Initial Catalog=MediaMeet_db;User Id=howlettz@howlettz;Password=RSC6me@nj</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MediaMeetContext-Web.config Connection String">
      <ParameterValue>data source=tcp:howlettz.database.windows.net,1433;initial catalog=MediaMeet_db;user id=howlettz@howlettz;password=RSC6me@nj;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MediaMeetDbContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:howlettz.database.windows.net,1433;Initial Catalog=MediaMeet_db;User Id=howlettz@howlettz;Password=RSC6me@nj</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>